@import url('https://fonts.googleapis.com/css2?family=Anek+Kannada:wght@500&family=Poppins:wght@200;400;500&family=Roboto:wght@400;500&family=Titillium+Web:wght@400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
}
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    
}
.container{
    max-width: 900px;
    width: 200%;
    max-height: 660px;
    background: rgba(0, 0, 0, 0.485);
    padding: 20px 20px;
    border-radius: 15px;
}
.container title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}
.container .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 10px;
    width: 40px;
}
.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 5px 0 5px 0;
}
form .user-details .input-box{
    margin: 10px 0 12px 0;
    margin-bottom: 17px;
    width: calc(100% / 2 - 20px);
}
.user-details .input-box .details{
    font-weight: 400;
    margin-bottom: 5px;
}
.user-details .input-box input{
    background-color: rgba(255, 255, 255, 0.097);
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 2px solid rgba(255, 253, 253, 0);
    padding-left: 15px;
    font-size: 15px;
    border-bottom-width: 2px;
    transition: a11 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color: #fe0000;
}
form .Date .Date-title{
    font-size: 20px;
    font-weight: 500;
}
form .Date .category{
    display: flex;
    width: 140%;
    margin: 14px ;
    justify-content: space-between;
}

.Date .category label{
    display: flex;
    align-items: center;
}
.Date .category .dot{
    height: 18px;
    width: 18px;
    background: #d9d9d9;
    border-radius: 50%;
    margin-right: 10px;
    border: 5px solid transparent;
}

#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two,
#dot-3:checked ~ .category label .three{
    border-color: #d9d9d9;
    background: #b93c3c;
}
form input[type="radio"]{
    display: none;
}
form .button{
    height: 45px;
    margin: 30px;
}
form .button input{
    height: 100%;
    width: 30%;
    border-radius: 2px;
    outline: none;
    color: #fff;
    border: none;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
    color: black;
    background: aquamarine;
}
form .button input:hover{
    color: black;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 3px;
    background: lightyellow;
}
@media (max-width: 584px){
    .container{
        max-width: 100%;
    }
    form .user-details .input-box{
        margin-bottom: 15px;
        width: 100%;
    }
    form .Date .category{
        width: 100%;
    }
    .container form .user-details{
        max-height: 300px;
        overflow: scroll;
    }
    .user-details::-webkit-scrollbar{
        width: 0%;
    }
}